@import 'reset';

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
    background-color: white;
    background-image: 
    linear-gradient(white 25%, transparent 25%), 
    linear-gradient(90deg, white 25%, transparent 25%), 
    linear-gradient(transparent 75%, #d4d3d8 75%), 
    linear-gradient(90deg, transparent 75%, #eff0ea 75%), 
    linear-gradient(#eff0ea 50%, transparent 50%), 
    linear-gradient(90deg, #d4d3d8 50%, transparent 50%);
    background-size: 20px 20px;
}

.game-main-wrapper{
    width: 100%;
    display: block;
    box-sizing: border-box;
    height: 600px;
    position: relative;
    .basket{
        width: 99px;
        height: 97px;
        background: url(../img/basket2.png);
        position: absolute;
        bottom: -48px;
        left: 0;
        z-index: 1110;
    }
    .start-game{
        width: 300px;
        background: white;
        height: 150px;
        border: 2px solid black;
        border-radius: 30px;
        position: absolute;
        left: 50%;
        margin-left: -150px;
        top: 100px;
        text-align: center;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease 0.3s;
        cursor: pointer;
        span{
          font-size: 45px;
          font-family: Verdana; 
          transition: all ease 0.3s;
        }
        &:hover{
            width: 350px;
            margin-left: -175px;
            box-shadow: 5px 5px 7px #212121;
            span{
                letter-spacing: 8px;
            }
        }
    }
}

.elem{
    width: 48px;
    height: 48px; 
    position: absolute;
    top: 0;
}

.ball_1{
    background: url(../img/iconfinder_Baseball_2138348.png);
}
.ball_2{
    background: url(../img/iconfinder_Basketball_2138358.png);
}
.ball_3{
    background: url(../img/iconfinder_Fast_ball_1703907.png);
}
.ball_4{
    background: url(../img/iconfinder_football_416378.png);
}
.ball_5{
    background: url(../img/iconfinder_Luxury_Ball_1703900.png);
}
.ball_6{
    background: url(../img/iconfinder_Poke_Ball_1703896.png);
}

.life{
    background: url(../img/iconfinder_heart_299063.png);
    width: 20px;
    height: 20px;
}

.poison{
    background: url(../img/iconfinder_039_040_poison_potion_arcanum_halloween_3792029.png);
    width: 48px;
    height: 48px;
}

.score-wrap{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 45px;
    font-family: Verdana;
    span{
        display: inline-block;
    }
    
}

.lives-wrap{
    top: 20px;
    left: 20px;
    position: absolute;
    display: inline-block;
    font-size: 45px;
    font-family: Verdana;
    img{
        width: 40px;
        vertical-align: baseline;
    }
}

.game-over-wrap{
    width: 300px;
    height: 100px;
    border: 1px solid black;
    border-radius: 30px;
    background: white;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 100px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    display: none;
}

